<%= javascript_pack_tag 'pecalive' %>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Anton" />

<% if false %>
<link href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet">
<script src="https://vjs.zencdn.net/7.4.1/video.js"></script>


<html>
<head>
  <title>VHS de HLS</title>
</head>
<body>

aaa

<video id=example-video width=1280 height=720 class="video-js vjs-default-skin" controls>
  <source
    src="http://150.95.177.111:7144/pls/9C8DAB5EFB221F58D640C9786DA7730E.m3u8"
    type="application/x-mpegURL">
</video>

<script>
  var player = videojs('example-video');
</script>
</body>
</html>
<% end %>
