<script src="https://github.com/Bilibili/flv.js/releases/download/v1.0.0/flv.min.js"></script>
<%= javascript_pack_tag 'hello_react' %>

<% if false %>
<script src="https://vjs.zencdn.net/7.4.1/video.js"></script>
<link href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet">


<html>
<head>
  <title>VHS de HLS</title>
</head>
<body>

aaa

<video id=example-video width=1280 height=720 class="video-js vjs-default-skin" controls>
  <source
    src="http://150.95.177.111:7144/pls/9C8DAB5EFB221F58D640C9786DA7730E.m3u8"
    type="application/x-mpegURL">
</video>

<script>
  var player = videojs('example-video');
</script>
</body>
</html>
<% end %>
